.plot-axis-ticks {
  position: relative;
  height: 20px;
  padding-top: 5px;
  flex-shrink: 0;
  font-size: 9px;
  font-variant-numeric: tabular-nums;
  pointer-events: none;
}
.plot-axis-ticks > span {
  position: absolute;
  white-space: nowrap;
  transform: translateX(-50%);
}
.plot-axis-ticks > span:first-child {
  transform: none;
}
.plot-axis-ticks > span:last-child {
  transform: translateX(-100%);
}
